<!DOCTYPE html>
<html>
  <head>
    <title>Vue3</title>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>
  <body>
    <div id="app">
      <div>
        <h1>Search Hacker News with Vue</h1>
        <form type="submit" @submit.prevent="onSearch">
          <input type="text" v-model="query"/>
          <button type="submit">Search</button>
        </form>
        <Item
          v-for="item in list"
          :item="item"
          :key="item.objectID"
        />
      </div>  
    </div>

    <script type="module" src="index.js"></script>
  </body>
</html>